#discord 
{
flow-children: down;
	horizontal-align: left;
	vertical-align: top;
	margin: 440px 170px;
	border-radius: 16px;
	box-shadow: #000000 -2px -2px 8px 4px;
}

#dis {	/*обычное состояние*/
	width: 82px;
	height: 82px;
	vertical-align: middle;
	horizontal-align: center;
}

#patreon 
{
	flow-children: down;
	horizontal-align: left;
	vertical-align: top;
	margin: 440px 40px;
	border-radius: 16px;
	box-shadow: #000000 -2px -2px 8px 4px;
}

#pat {
	width: 82px;
	height: 82px;
	vertical-align: middle;
	horizontal-align: center;
}

#qq{
	margin: 30px;
	vertical-align: top;
	height: 374px;
	width: 233px;
}

#telega{
	margin: 30px 300px;
	vertical-align: top;
	height: 217px;
	width: 200px;
}