/* .mapoverlay{
    height: 296px;
    width: 296px;
    border: 1px solid black;
} */
.overlayImage{
    animation-name: overlayAnimation;
	animation-duration: 5.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    height: 296px;
    width: 296px;
    /* background-color: red; */
}

@keyframes 'overlayAnimation'
{
	0%{
        opacity: 0.2;
    }
    50%{
        opacity: 0.1;
    }
    100%{
        opacity: 0.2;
    }
}

.maptogglebutton{
    height: 307px;
    width: 280px;
    vertical-align: bottom;
    /* background-color: gradient(linear, 0% 100%, 100% 0%, from(#0b1431), to(#242d35)); */
    background-color: black;
}
#maptogglebutton{
    margin-left: 20px;
} 
#maptogglebutton Label{
    color:white;
}