.root{
    height: 100%;
    width: 100%;
    /* background-color: red; */
}
#souls_main{
    horizontal-align: right;
    margin-top: 640px;
    flow-children: right;
}
.souls_stash_panel{
    height: 72px;
    min-width: 70px;
    background-image:url("s2r://panorama/images/hud/reborn/bg_item_build_psd.vtex") ;
    background-size: 100%;
}
.souls_stash_panel Label{
    color:white;
    horizontal-align: center;
    margin-top: 5px;
    text-transform: uppercase;
    font-size: 15;
    color:#8da1b1;
    font-weight:bold;
    letter-spacing:2px;
}
.souls_stash{
    height: 30px;
    margin-top: 31px;
    horizontal-align: center;
    flow-children: right;
    margin-right:2px;
    margin-left:2px;
}
.soul_item{
    margin: 1px;
    border:1px solid black;
}
.soul_item Label{
    vertical-align: bottom;
    horizontal-align: right;
    font-size: 16;
    font-weight: bold;
    color:#ffffff;
    margin-left: 3px;
    margin-bottom: -3px;
    text-shadow: 0px 0px 3px 4 #000000;
}
#arrow_button{
    width: 22px;
    height: 22px;
    background-image:url("s2r://panorama/images/hud/reborn/bg_item_build_psd.vtex") ;
    z-index: 2;
    vertical-align: top;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#hide_button{
    background-image: url("s2r://panorama/images/control_icons/arrow_min_right_psd.vtex");
    margin-right: 4px;
    width: 18px;
    height: 14px;
    background-size: contain;
    background-repeat: no-repeat;
    transition-property: brightness;
    background-position: center;
    horizontal-align: center;
    vertical-align: center;
}