.root{
    height: 100%;
    width: 100%;
}
#OpenButton{
    height: 100px;
    width: 100px;
    background-image: url("file://{images}/custom_game/pet/cat.png");
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    margin-left: 350px;
    tooltip-position: bottom;
}
#OpenButton:active, #close_pet:active{
    sound: "ui_generic_button_click";
}
#OpenButton:hover, #close_pet:hover{
    brightness: 0.7;
}
#PetWindowMain{
    height: 685px;
    width: 1123px;
    background-image: url("file://{images}/custom_game/pet/bg.png");
    background-size: 100%;
    horizontal-align: center;
    margin-top: 180px;
    overflow: clip;
    transition-duration: 0.2s;
    transition-property: transform, opacity, pre-transform-scale2d;
    opacity: 0;
    pre-transform-scale2d: 0.8;
	transform: translate3d(0px, 0px, 0px);
}
#gems_container_pet{

}
#change_pet_button{
    margin-top: 340px;
    margin-left: 770px;
    height: 40px;
    width: 150px;
}
#change_pet_button Label{
    text-transform: uppercase;
    align: center center;
    color:white;
    font-size: 21;
}
#buy_pet_button2{

}
.money_container_pet{
    height: 34px;
    width: 126px;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0 5px;
}
.money_container_pet_image{
    vertical-align: center;
}
#gems_image_pet{
    background-image: url("file://{images}/custom_game/RDAShop/money_logo_3_mini.png");
    height: 28px;
    width: 25px;
    background-size: contain;
    margin-left: 8px;
}
#rp_image_pet{
    background-image: url("file://{images}/custom_game/RDAShop/protection_mini.png");
    height: 24px;
    width: 25px;
    background-size: contain;
    margin-left: 8px;
}
#feed_image_pet{
    background-image: url("file://{images}/custom_game/pet/feed.png");
    height: 28px;
    width: 30px;
    background-size: contain;
    margin-left: 5px;
}
.money_container_pet_label{
    vertical-align: center;
    color:white;
    font-size: 21;
    margin-left: 40px;
}
#MoneyPanelContaner{
    flow-children: right;
    margin: 18px;
}
#close_pet{
    background-image: url("file://{images}/custom_game/pet/close.png");
    height: 35px;
    width: 35px;
    background-size: contain;
    horizontal-align: right;
    margin: 15px;
}
#page_name_pet{
    font-size: 24px;
    color:white;
    text-transform: uppercase;
    margin-left: 40px;
    vertical-align: center;
}
#page_name_container_pet{
    width: 100%;
    margin-top: 80px;
}
#pages_pet{
    height: 30px;
    vertical-align: center;
    horizontal-align: right;
    margin-right: 40px;
}


#pet_showcase{
    margin-top: 110px;
    flow-children: right;
    transition-property: position;
    transition-duration: 0.2s;
}
.showcase{
    width: 1123px;
    flow-children: right;
    padding: 0 25px;
}
.showcase_pet{
    width: 160px;
    height: 170px;
    border:1px solid black;
    margin: 9px;
    background-color: rgba(0, 0, 0, 0.9);
}
#item_pet:hover{
    box-shadow: #c44a04b2 0px 0px 8px 0px;
    sound: "ui_select_arrow";
}
.item_pet_selected{
    box-shadow: #c44a04b2 0px 0px 8px 0px;
}
#name_pet{
    color:white;
    text-transform: uppercase;
    font-size: 24px;
    width: 100%;
    text-align: center;
}
#item_pet{
    width: 107px;
    height: 78px;
    horizontal-align: center;
    margin-top: 30px;
    border:1px solid black;
    tooltip-body-position: 100% 100%;
}
.center{
    vertical-align: center;
    horizontal-align: center;
}
#buy_pet_button{
    height: 40px;
    width: 125px;
    horizontal-align: center;
    margin-top: 120px;
}
#buy_pet_button_2{
    height: 40px;
    width: 125px;
    horizontal-align: right;
    margin-top: 340px;
    margin-right: 40px;
}
.buy_gem_img{
    background-image: url("file://{images}/custom_game/RDAShop/money_logo_3_mini.png");
    height: 28px;
    width: 25px;
    background-size: contain;
}
.buy_rp_img{
    background-image: url("file://{images}/custom_game/RDAShop/protection_mini.png");
    height: 24px;
    width: 25px;
    background-size: contain;
}
#buy_pet_center{
    flow-children: right;
}
#buy_pet_label{
    color:white;
    font-size: 21px;
}
#name_and_level_pet{
    flow-children: right;
    horizontal-align: center;
    margin-top: 395px;
    width: 1050px;
}
.select_pet_description_label{
    text-transform: uppercase;
    color:white;
    font-size: 21px;
}
#pet_line{
    height: 4px;
    width: 95%;
    horizontal-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border:1px solid rgba(0, 0, 0, 0.5);
    margin-top: 300px;
}
#Get_Pet_Button{
    height: 40px;
    width: 150px;
    horizontal-align: right;
    margin-top: 310px;
    margin-right: 40px;
}
#Get_Pet_Button_Label{
    vertical-align: center;
    horizontal-align: center;
    text-transform: uppercase;
    color:white;
}

.exp_font_style{
    font-size: 18px;
    text-transform: uppercase;
    color:white;
}
#exp_container_pet{
    margin-top: 420px;
    flow-children: none;
    width: 1050px;
    horizontal-align: center;
}
#exp_progress_bar_pet{
    width: 1050px;
    horizontal-align: center;
    height: 25px;
}
#exp_progress_bar_pet_Left{
    background-color: rgb(209, 93, 47);
}
#exp_progress_bar_pet_Right{
    background-color: rgb(43, 42, 42);
}
#exp_counter_pet{
    horizontal-align: right;
    margin-right: 20px;
    vertical-align: center;
    font-size: 18;
}

.pet_update_button_container{
    height: 40px;
    width: 150px;
    vertical-align: center;
}
.pet_update_button_container Label{
    text-transform: uppercase;
    color:white;
    vertical-align: center;
    horizontal-align: center;
}
#feed_entry_img{
    background-image: url("file://{images}/custom_game/pet/feed.png");
    height: 45px;
    width: 45px;
    background-size: contain;
}
#pet_upgrade_label{
    margin-top: 430px;
    color:white;
    text-transform: uppercase;
    margin-left: 40px;
}
#pet_upgrade_container{
    margin-top: 460px;
    flow-children: right;
    horizontal-align: right;
    margin-right: 40px;
}
#feed_entry_text{
    width: 93px;
    vertical-align: center;
}
#feed_entry_container{
    margin-right: 24px;
    flow-children: right;
}
#feed_entry_img{
    vertical-align: center;
    margin: 5px;
}
#pet_update_button_1{
    margin-right: 24px;
}
#pet_update_button_2{
    margin-right: 24px;
}


#pet_shop_container{
    flow-children: right;
    horizontal-align: center;
    margin-top: 510px;
}
.pet_shop_panel{
    height: 140px;
    width: 333px;
    border:1px solid black;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 15px;
}
.shop_name_label{
    font-size: 18px;
    color:white;
    horizontal-align: center;
    text-transform: uppercase;
    margin-top: 5px;
}
#shop_1_img{
    background-image: url("file://{images}/custom_game/RDAshop/items/pet_change.png");
    height: 81px;
    width: 110px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;
    margin-top: 35px;
    margin-left: 25px;
}

#shop_buttons_container{
    flow-children: down;
    horizontal-align: right;
    margin-right: 25px;
    margin-top: 30px;
}

#shop_gems_button, #shop_rp_button{
    height: 40px;
    width: 110px;
    margin: 5px;
}
.button_container{
    flow-children: right;
}
.shop_button_label{
    color:white;
    vertical-align: center;
}
.button_bg{
    border:1px solid black;
    background-color: rgba(94, 13, 13, 0.842);
}
.button_bg:active, .confirm_panel:active, #item_pet:active{
    sound: "ui_rollover_today";
    
}
.button_bg:hover{
    box-shadow: inset #3f021475 0px 0px 8px 12px;
}
.PaginationButtonCustom{
    background-color: gradient( radial, 50% 50%, 0% 0%, 50% 50%, color-stop(0.0, #7e8f93 ), color-stop(0.5, #7e8f93), color-stop(0.6, #00000000 ) );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 16px;
    height: 16px;
    margin: 1px 0px 1px 1px;
    opacity: 0.6;
    border-radius: 50%;
    padding: 4px;
    margin: 0;
}
#ItemPips{
    flow-children: right;
    vertical-align: center;
    horizontal-align: right;
    margin-right: 90px;
}
#arrows2{
    width: 100%;
    margin-top: 160px;
}
#arrows{
    flow-children: right;
    horizontal-align: right;
    vertical-align: center;
}
#arrow2_left{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
    background-size: 100% 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width:23px;
    height: 70px;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 0.2s;
    margin: 8px;
}
#arrow2_left:hover{
    opacity: 1;
}
#arrow_left{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_left_png.vtex");
    background-color: #90a3a8;
    background-size: 12px 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width:23px;
    height: 23px;
    vertical-align: top;
    margin-right: 4px;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 0.2s;
}
#arrow2_right{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
    background-size: 100% 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    width:23px;
    height: 70px;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 0.2s;
    horizontal-align: right;
    margin: 8px;
}
#arrow2_right:hover{
    opacity: 1;
}
#arrow_right{
    background-image: url("s2r://panorama/images/control_icons/arrow_solid_right_png.vtex");
    background-color: #90a3a8;
    background-size: 12px 12px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    width:23px;
    height: 23px;
    vertical-align: top;
    margin-right: 4px;
    opacity: 0.6;
    transition-property: opacity;
    transition-duration: 0.2s;
}
#arrow_left:hover, #arrow_right:hover, .PaginationButtonCustom:hover{
    opacity: 1;
}
#arrow_left:active, #arrow_right:active, .PaginationButtonCustom:active{
    sound: "ui_team_select_shuffle";
}
.slider_button_not_availible{
    opacity: 0.2;
}
.slider_button_active{
    background-color:gradient( radial, 50% 50%, 0% 0%, 50% 50%, color-stop(0.0, #9db1b7 ), color-stop(0.5, #9db1b7), color-stop(0.6, #00000000 ) );
    opacity: 1;
    border-radius: 50%;
}


#have_pet{
    margin-top: 115px;
    flow-children: down;
    horizontal-align: center;
}
#pet_level{
    text-transform: uppercase;
    color:white;
    font-size: 21;
    horizontal-align: center;
}

#InfoIcon{
    background-image:url("s2r://panorama/images/status_icons/information_psd.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    tooltip-body-position: 50% 50%;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    wash-color: #ffffff;
    width: 22px;
    height: 22px;
    vertical-align: center;
    margin-right: 28px;
    tooltip-position: left;

}
#interface_level_pet{
    horizontal-align: right;
}

#interface_name_pet, #selected_name_pet{
    font-size: 30;
    margin-left: 130px;
    vertical-align: center;
    color:white;
    text-transform: uppercase;
}
#item_main_pet, #item_selected_pet{
    vertical-align: center;
    margin-left: 20px;
    width: 85px;
    height: 62px;
    tooltip-body-position: 100% 100%;
}
#item_main_pet:hover{
    sound: "ui_select_arrow";
}
#item_selected_pet Label{
    color:rgb(253, 253, 253);
    text-transform: uppercase;
    font-size: 21;
    vertical-align: top;
    horizontal-align: center;
    font-weight: bold;
}
#interface_info_panel{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    height: 90px;
    margin-top: 310px;
    width: 340px;
    horizontal-align: center;
}
#selected_pet_panel{
    background-color: rgba(0, 0, 0, 0.9);
    padding: 5px;
    height: 90px;
    margin-top: 310px;
    width: 340px;
    margin-left: 40px;
}
#buy_coufirm_bg_pet{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
}
#buy_confirm_panel{
    height: 300px;
    width: 491px;
    border:1px solid white;
    vertical-align: center;
    horizontal-align: center;
    background-image: url("file://{images}/custom_game/RDAShop/shop.png");
    background-size: contain;
}
.buy_label__pet{
    text-transform: uppercase;
    color:white;
}
.confirm_panel{
    height: 40px;
    width: 150px;
    margin-top: 245px;
    border:1px solid white;
}
.confirm_panel:hover{
    box-shadow: inset #3f021475 0px 0px 8px 12px;
}
.confirm_panel Label{
    color:white;
    vertical-align: center;
    horizontal-align: center;
    text-transform: uppercase;
}
#confirm_yes_panel{
    margin-left: 40px;
    background-color: rgba(0, 128, 0, 0.6);
}
#confirm_no_panel{
    margin-right: 40px;
    horizontal-align: right;
    background-color: rgba(128, 15, 0, 0.6);
}
#buy_description_panel{
    flow-children: down;
    horizontal-align: center;
    margin-top: 90px;
}
.buy_description_text{
    color: white;
    text-transform: uppercase;
    font-size: 21;
    vertical-align: center;
}
#confirm_drop_down{
    width: 100px;
    horizontal-align: center;
    margin-top: 10px;
}

#feed_entry_panel{
    vertical-align: center;
    flow-children: right;
}
.feed_entry_buttons_panels{
    height: 16px;
    width: 16px;
    border:1px solid rgb(99, 99, 99);
    margin: 1px;
    background-color: rgba(0, 0, 0, 0.9);
}
#feed_entry_buttons{
    flow-children: down;
}
#feed_entry_line_1{
    width: 8px;
    height: 1px;
    border:1px solid rgb(99, 99, 99);
}
#feed_entry_line_2{
    height: 8px;
    width: 1px;
    border:1px solid rgb(99, 99, 99);
}
#interface_tier_pet, #selected_tier_pet{
    horizontal-align: left;
    color:white;
    text-transform: uppercase;
    font-weight: thin;
    margin-left: 130px;
}
#interface_level_pet_1, #selected_level_pet_1{
    horizontal-align: left;
    vertical-align: bottom;
    color:white;
    text-transform: uppercase;
    font-weight: thin;
    margin-left: 130px;
}
#shop_active{
    height: 40px;
    width: 100px;
    background-color: green;
}
#shop_active Label{
    horizontal-align: center;
    vertical-align: center;
    text-transform: uppercase;
    color:white;
}
#pages_label{
    color:rgb(219, 219, 219);
    /* font-weight: bold; */
    font-size: 19;
    vertical-align: center;
    horizontal-align: right;
    margin-right: 60px;
}