.root,.talant_root{
    width: 100%;
    height: 100%;
    z-index:2;
}
.smoke_movie_panel{
    width: 100%;
    height: 100%;
    z-index: -2;
}
.talant_tree_images_panel{
    height: 720px;
    width: 720px;
    horizontal-align: center;
    vertical-align: center;
    z-index: 1;
}
.talant_tree_panel{
    height: 750px;
    width: 750px;
    margin-left: 120px;
    horizontal-align: center;
    vertical-align: center;
    z-index: 1;
}
.panel_bg{
    height: 100%;
    width: 100%;
    z-index: -1;
    background-color: rgb(39, 39, 88);
}
.talante_bg_image_panel{
    width: 100%;
    height: 100%;
}
.talante_circle_image_panel{
    width: 500px;
    height: 500px;
    vertical-align: center;
    horizontal-align:center;
}
.img_shadow{
    img-shadow: 2px 2px 8px 3.0 #333333b0;
}
#InfoIcon{
    background-image:url("s2r://panorama/images/status_icons/information_psd.vtex");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    tooltip-body-position: 50% 50%;
    transition-property: wash-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    wash-color: #ffffff;
    width: 22px;
    height: 22px;
    margin-top: 90px;
    margin-left: 70px;
    tooltip-position: left;

}













.border_red{
    border:1px solid rgb(255, 0, 0);
}
.border_green{
    border:1px solid rgb(21, 223, 2);
}
.border_blue{
    border:1px solid rgb(32, 35, 224);
}
.border_gold{
    border:1px solid rgb(214, 195, 23);
}
.border_red_large{
    border:5px solid rgb(255, 0, 0);
}
.border_green_large{
    border:5px solid rgb(21, 223, 2);
}
.border_blue_large{
    border:5px solid rgb(32, 35, 224);
}
.border_gold_large{
    border:5px solid rgb(214, 195, 23);
}


.description_gradient_border_red{
    background-color: gradient( radial, 0% 0%, 100% 100%, 100% 100%, from( red ), to( blanchedalmond ) );
}
.description_gradient_border_blue{
    background-color: gradient( radial, 0% 0%, 100% 100%, 100% 100%, from( blue ), to( blanchedalmond ) );
}
.description_gradient_border_green{
    background-color: gradient( radial, 0% 0%, 100% 100%, 100% 100%, from( green ), to( blanchedalmond ) );
}
.description_gradient_border_gold{
    background-color: gradient( radial, 0% 0%, 100% 100%, 100% 100%, from( gold ), to( blanchedalmond ) );
}


.available-0{
    brightness: 0.05;
}
.available-1{
    brightness: 0.5;
}
.brightness15{
    brightness: 3.0;
}
.brightness25{
    brightness: 3.5;
}
.brightness5{
    brightness: 0.5;
}
.selected{
    brightness: 1.2;
}
.brightness02{
    brightness: 0.2;
}
.description_panel{
    height: 680px;
    width: 400px;
    horizontal-align:right;
    vertical-align: center;
    margin-right: 5%;
}
.description_info_panel{
    width: 100%;
    height: 100%;
}
.description_info_label{
    color: black;
    font-size: 32px;
    text-shadow: 2px 2px 8px 1.5 #333333b0;
    margin: 4%;
    width: 100%;
    text-align: center;
}
.description{
    width: 380px;
    height: 680px;
    margin: 10px;
    background-color: black;
}
.description_gradient_border_out{
    width: 100%;
    height: 100%;
}
.talant_name_label,.talant_description_label,.talant_description_buff_label{
    font-size: 25px;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px 8px 3.5 #333333b0;
}
.talant_name_label{
    color: rgb(187, 133, 33);
    text-decoration: underline;
    margin-top: 270px;
}
.talant_description_label,.talant_description_buff_label{
    color: rgb(187, 133, 33);
    font-size: 21px;
}
.talant_description_label{
    margin-top: 50px;
}
.talant_img_description{
    height: 165px;
    width: 172px;
    border-radius: 100px;
    horizontal-align:center;
    margin-top: 97px;
}
.description_gradient_border_image{
    height: 220px;
    width: 220px;
    horizontal-align:center;
    border-radius: 110px;
    margin-top: 20px;
}
.talant_line_under_name{
    horizontal-align:center;
}
.talant_description_buff_label{
    color: #DB9200;
    vertical-align: center;
}
.ScenePanel{
    width: 500px;
    height: 100%;
}
.HeroScenePanel{
    margin-top: 150px;
    z-index: 0;
    width:800px;
    height:800px;
    margin-right:10px;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center top;
}
.description_gradient_border_in{
    margin-top: 10px;
    width: 340px;
    horizontal-align:center;
}
.under_line_panel{
    width: 300px;
    height: 200px;
    flow-children:down;
    margin-top: 300px;
    horizontal-align:center;
}
.background-image-description{
    horizontal-align:center;
    z-index: -1;
}
.button{
    horizontal-align:center;
    vertical-align: bottom;
    margin-bottom: 60px;
    width: 250px;
    height: 50px;
    brightness:1;
}
.button:hover{
    brightness:1.8;
}
.button_label{
    text-align: center;
    font-size: 21px;
    color: white;
    text-shadow: 2px 2px 8px 1.5 #333333b0;
}
.progress_line_panel{
    width: 100%;
    height: 86px;
    vertical-align: bottom;
}
.red_line_panel{
    height: 20px;
    width: 56%;
    background-image: url("file://{resources}/images/custom_game/talants/yellow_line.png");
    background-size: 100% 100%;
}
.blue_line_panel{
    height: 20px;
    width: 45%;
    background-image: url("file://{resources}/images/custom_game/talants/blue_line.png");
    background-size: 100% 100%;
}
.exp_line_container{
    width: 96%;
    flow-children:down;
    horizontal-align:center;
    vertical-align: bottom;
    margin-bottom: 4px;
    background-image: url("file://{resources}/images/custom_game/talants/exp_bg.png");
    background-size: 100% 100%;
    margin-bottom: 12px;
}
.progress_line_bg{
    height: 100%;
    width: 100%;
}
.level_info_panel{
    flow-children:right;
    z-index: 1;
    height: 30px;
    width: 230px;
    margin-left: 260px;
}
.normal_level_label,.RDA_level_label{
    vertical-align: center;
    width: 50%;
    text-align: center;
    vertical-align: center;
    font-size: 20px;
}
.normal_level_label{
    color: #cdd83a;
    text-shadow: 2px 2px 3px 1.0 #000000;
}
.RDA_level_label{
    color: #1a8d23;
    text-shadow: 2px 2px 2px 1.0 rgb(0, 0, 0);
}
.SceneLoaded{
    width: 100%;
    height: 100%;
    color: tomato;
}
#top_burner{
    hue-rotation: 0deg;
}
#botton_burner{
    hue-rotation: 250deg;
}
.exp_line_container2{
    width: 96%;
    flow-children:down;
    horizontal-align:center;
    vertical-align: bottom;
    z-index: 1;
    margin-bottom: 10px;
}
.blue_line_label,.red_line_label{
    color: rgb(255, 255, 255);
    margin-left: 20px;
}
.blue_line_label{
    text-shadow: 2px 2px 3px 1.0 rgb(123, 124, 52);
}
.red_line_label{
    text-shadow: 2px 2px 2px 1.0 rgb(21, 5, 80);
}
.close_panel_bg{
    width: 100px;
    height: 100px;
    z-index: 1;
    vertical-align: bottom;
    margin-left: 10px;
    margin-bottom: 150px;
    /* background-color: rgba(0, 0, 0, 0), gradient( radial, 100% -0%, 10px 0px, 1320% 500%, from( rgba(0, 0, 0, 0.2) ), color-stop( 0.8, rgba(0, 0, 0, 0.2) ), to( rgba(0, 0, 0, 0.8) ) ); */
}
.close_exit_img{
    horizontal-align:center;
    width: 1000px;
    height: 100px;
    background-image: url("file://{resources}/images/custom_game/talants/exit.png");
    background-size: 100% 100%;
    margin-top: 50px;
    brightness: 0.5;
}

.talant_tree{
    background-image: url("file://{resources}/images/custom_game/talants/tree_icon_1.png");
    width: 62px;
    height: 62px;
}
.icon_bg{
    width: 55px;
    height: 55px;
    vertical-align: bottom;
    margin-bottom: 30px;
    img-shadow: 2px 3px 8px 3.0 #000000b0;
    horizontal-align:right;
}
.icon_bg:hover{
    brightness: 2.0;
}
.test{
    height: 100px;
    width: 100px;
    background-color: aquamarine;
}

.close_button{
    height: 249px;
    width: 302px;
    brightness: 0.7;
}
.close_panel_bg:hover{
    brightness: 1.5;
}
.gain_container{
    flow-children:down;
    z-index: 1;
    horizontal-align:right;
    vertical-align: bottom;
    margin-right: 45px;
    margin-bottom: 9px;
    width: 50px;
}
#talant-bg-img-shop{
    z-index: -1;

}
.blue_line_label_gain,.red_line_label_gain{
    color: white;
    width: 100%;
    text-align: center;
}
.openbtn{
    width: 100px;
    height: 100px;
    vertical-align: center;
    margin-left: 10px;
    margin-top: 450px;
    z-index: 3;
    brightness: 0.7;
}
.openbtn:hover{
    brightness: 1.1;
}
.talant-2nd-window{
    height: 680px;
    width: 400px;
    vertical-align: center;
    margin-left: 200px;
    z-index:3;
}
.player-state{
    width: 300px;
    horizontal-align:center;
    margin-top: 45px;
    flow-children:down;
    overflow: clip scroll;
}
.player-state-1{
    height: 190px;
}
.player-state-2{
    height: 590px;
}
.state{
    width: 100%;
    flow-children:down;
    margin-left: 15px;
    margin-top: 2px;
}
.state-text{
    color: rgb(255, 255, 255);
}
.talant-shop{
    height: 375px;
    width: 300px;
    horizontal-align:center;
    vertical-align: bottom;
    margin-bottom: 40px;
    flow-children:down;
    overflow: clip scroll;
}
.shop{
    width: 100%;
    height: 120px;
}
.shop-image{
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;
}
.shop-text-panel{
    margin-left: 80px;
    margin-top: 10px;
    height: 50px;
    width: 200px;
}
.shop-text{
    color: rgb(255, 255, 255);
    vertical-align: center;
}
.shop-gem-btn-panel{
    height: 48px;
    width: 118px;
    vertical-align: bottom;
    margin-left: 10px;
    margin-bottom: 3px;
}
.shop-rait-btn-panel{
    height: 48px;
    width: 118px;
    vertical-align: bottom;
    horizontal-align:right;
    margin-right: 10px;
}
.price{
    height: 25px;
    vertical-align: center;
    flow-children:right;
    horizontal-align:center;
}
.gem-image{
    width: 35px;
}
.rait-image{
    width: 28px;
}
.price-text{
    color: rgb(255, 255, 255);
    vertical-align: center;
}
.price-rait{
    margin-bottom: 10px;
}
.no-money{
    brightness: 0.2;
}
.btn-hover:hover{
    brightness: 2;
}
#players_have{
    horizontal-align: center;
    font-size: 21;
    color:white;
    margin-top: 490px;
}
#players_have:hover{
    text-decoration:underline;
}
.center{
    vertical-align: center;
    horizontal-align: center;
}
.flowRight{
    flow-children: right;
}




























































.talant_icon_panel_size_1{
    height: 47px;
    width: 47px;
    border-radius: 30px;
}
.talant_icon_panel_size_2{
    height: 53px;
    width: 53px;
    border-radius: 30px;
}
.talant_icon_panel_size_3{
    height: 60px;
    width: 60px;
    border-radius: 30px;
}


.talant_icon_1_panel{
    margin-top: 44.0%;
    margin-left: 0.1%;
}
.talant_icon_2_panel{
    margin-top: 39.5%;
    margin-left: 6.3%;
}
.talant_icon_3_panel{
    margin-top: 45.6%;
    margin-left: 18.8%;
}
.talant_icon_4_panel{
    margin-top: 52.9%;
    margin-left: 20.6%;
}
.talant_icon_5_panel{
    margin-top: 34.8%;
    margin-left: 34.5%;
}
.talant_icon_6_panel{
    margin-top: 40.1%;
    margin-left: 40.0%;
}
.talant_icon_7_panel{
    margin-top: 53.6%;
    margin-left: 10.3%;
}
.talant_icon_8_panel{
    margin-top: 46.1%;
    margin-left: 9.8%;
}
.talant_icon_9_panel{
    margin-top: 40.0%;
    margin-left: 14.0%;
}
.talant_icon_10_panel{
    margin-top: 35.5%;
    margin-left: 20.1%;
}
.talant_icon_11_panel{
    margin-top: 33.9%;
    margin-left: 27.3%;
}




.talant_icon_12_panel{
    margin-top: 0.4%;
    margin-left: 49.9%;
}
.talant_icon_13_panel{
    margin-top: 40.1%;
    margin-left: 51.5%;
}
.talant_icon_14_panel{
    margin-top: 10.4%;
    margin-left: 40.0%;
}
.talant_icon_15_panel{
    margin-top: 9.9%;
    margin-left: 47.5%;
}
.talant_icon_16_panel{
    margin-top: 6.5%;
    margin-left: 54.0%;
}
.talant_icon_17_panel{
    margin-top: 20.2%;
    margin-left: 58.2%;
}
.talant_icon_18_panel{
    margin-top: 27.4%;
    margin-left: 59.9%;
}
.talant_icon_19_panel{
    margin-top: 14.1%;
    margin-left: 53.7%;
}
.talant_icon_20_panel{
    margin-top: 20.6%;
    margin-left: 40.8%;
}
.talant_icon_21_panel{
    margin-top: 19.0%;
    margin-left: 48.1%;
}
.talant_icon_22_panel{
    margin-top: 34.7%;
    margin-left: 58.0%;
}



.talant_icon_23_panel{
    margin-top: 87.4%;
    margin-left: 39.1%;
}
.talant_icon_24_panel{
    margin-top: 73.0%;
    margin-left: 52.3%;
}
.talant_icon_25_panel{
    margin-top: 74.9%;
    margin-left: 45.1%;
}
.talant_icon_26_panel{
    margin-top: 93.5%;
    margin-left: 43.5%;
}
.talant_icon_27_panel{
    margin-top: 83.4%;
    margin-left: 53.4%;
}
.talant_icon_28_panel{
    margin-top: 83.8%;
    margin-left: 45.8%;
}
.talant_icon_29_panel{
    margin-top: 79.7%;
    margin-left: 39.5%;
}
.talant_icon_30_panel{
    margin-top: 73.5%;
    margin-left: 35.1%;
}
.talant_icon_31_panel{
    margin-top: 66.4%;
    margin-left: 33.5%;
}
.talant_icon_32_panel{
    margin-top: 58.2%;
    margin-left: 34.5%;
}
.talant_icon_33_panel{
    margin-top: 51.7%;
    margin-left: 40.0%;
}






.talant_icon_34_panel{
    margin-top: 51.7%;
    margin-left: 51.5%;
}
.talant_icon_35_panel{
    margin-top: 58.3%;
    margin-left: 58.0%;
}
.talant_icon_36_panel{
    margin-top: 41.0%;
    margin-left: 73.0%;
}
.talant_icon_37_panel{
    margin-top: 48.5%;
    margin-left: 74.7%;
}
.talant_icon_38_panel{
    margin-top: 54.4%;
    margin-left: 87.0%;
}
.talant_icon_39_panel{
    margin-top: 60.0%;
    margin-left: 66.0%;
}
.talant_icon_40_panel{
    margin-top: 58.4%;
    margin-left: 73.4%;
}
.talant_icon_41_panel{
    margin-top: 54.0%;
    margin-left: 79.5%;
}
.talant_icon_42_panel{
    margin-top: 47.7%;
    margin-left: 83.9%;
}
.talant_icon_43_panel{
    margin-top: 40.1%;
    margin-left: 83.2%;
}
.talant_icon_44_panel{
    margin-top: 50.0%;
    margin-left: 93.2%;
}
.talant_icon_45_panel{
    margin-top: 65.0%;
    margin-left: 7.0%;
}
.talant_icon_46_panel{
    margin-top: 5.0%;
    margin-left: 30.0%;
}
.talant_icon_47_panel{
    margin-top: 85.0%;
    margin-left: 65.0%;
}
.talant_icon_48_panel{
    margin-top: 25.0%;
    margin-left: 85.0%;
}