.root{
    height: 100%;
    width: 100%;
}
#GameBPPanel{
    align: center center;
    height: 600px;
    width: 1000px;
    border: 1px solid black;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #1b2031 ), to( #111017 ) );
    flow-children: down;
}
#tabs_container{
    width: 100%;
    height: 50px;
    flow-children: right;
}
.outer_tab_container{
    height: 50px;
}
.inner_tab_container{
    height: 40px;
    width: 120px;
    border:1px solid black;
    vertical-align: bottom;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #2d354b ), to( #121118 ) );
    box-shadow: #111111e5 0px 0px 8px 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tab_label{
    align: center center;
    color:white;
    text-shadow: 0px 0px 2px 1.0 black;
}
#level_line_container{
    width: 100%;
    height: 45px;
    border-top:1px solid black;
    box-shadow: #111111e5 0px 0px 8px 0px;
}
#level_main_label{
    vertical-align: center;
    width: 100px;
    text-align: center;
    color:white;
    text-shadow: 0px 0px 2px 1.0 black;
    font-size: 21;
}
#experience_progress_bar{
    height: 15px;
    width: 615px;
    vertical-align: center;
    margin-left: 100px;
}
#experience_progress_bar_Left{
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #2c5ba0 ), to( #2677d4 ) );
}
#experience_progress_bar_Label{
    color:white;
    text-shadow: 0px 0px 2px 1.0 black;
    vertical-align: center;
    margin-right: 170px;
    font-size: 21;
    horizontal-align: right;
    width: 100px;
    text-align: center;
}
#collect_all_rewards_button_Panel{
    height: 30px;
    width: 150px;
    border: 1px solid black;
    horizontal-align: right;
    vertical-align: center;
    margin-right: 10px;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #2d354b ), to( #121118 ) );
    box-shadow: #111111e5 0px 0px 8px 0px;
    border-radius: 5px;
}
#collect_all_rewards_button_Panel Label{
    color:white;
    text-shadow: 0px 0px 2px 1.0 black;
    align: center center;
}
#rewards_list_scroll_panel{
    width: 100%;
    height: 500px;
    flow-children: right;
    overflow: scroll squish;
}
.bp_scroll_item_Panel{
    height: 100%;
    width: 125px;
    flow-children: down;
}
.scroll_level_line_indicator{
    height: 2%;
    width: 100%;
}
.free_tier_reward_Panel{
    height: 39%;
    width: 100%;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #3f3f3f ), to( #6a6a6a ) );
    box-shadow: #111111e5 0px 0px 8px 0px;
}
.donate_tier_reward_Panel{
    height: 59%;
    width: 100%;
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #2d354e ), to( #16141d ) );
    box-shadow: #111111e5 0px 0px 8px 0px;
}
#level_in_scroll_label{
    color:white;
    text-shadow: 0px 0px 2px 1.0 black;
    align: center bottom;
}
.free_tier_reward_image_Panel{
    height: 80px;
    width: 80px;
    box-shadow: 2px 2px 8px 3.0 #000000b0;
    align: center center;
    margin-bottom: 20px;
    border-radius: 5px;
}
.free_tier_reward_image_Panel:hover{
    ui-scale: 115%;
}
.donate_tier_reward_image_Panel{
    height: 80px;
    width: 80px;
    box-shadow: 2px 2px 8px 3.0 #000000b0;
    horizontal-align: center;
    border-radius: 5px;
}
.donate_tier_reward_image_position_1{
    margin-top: 45px;
}
.donate_tier_reward_image_position_2{
    margin-top: 170px;
}
.donate_tier_reward_image_Panel:hover{
    ui-scale: 115%;
    position: 0px -5px 0;
}
#scroll_reward_Image{
    brightness: 0.5;
}
.GalkaPanel{
    height: 50px;
    width: 50px;
    background-size: contain;
    background-image: url("file://{resources}/images/custom_game/bp/galka.png");
    vertical-align: center;
    horizontal-align: center;
    margin-left: 6px;
    margin-bottom: 10px;
    img-shadow: 2px 2px 8px 3.0 #000000b0;
}
.HaveAwardPanel{
    background-image: url("file://{resources}/images/custom_game/bp/HaveAward.png");
    height: 32px;
    width: 32px;
    background-size: contain;
    horizontal-align: right;
    margin: 1px;
    img-shadow: 2px 2px 8px 3.0 #000000b0;
    animation-name: HaveAwardPanelAnimation;
	animation-duration: 1.0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes 'HaveAwardPanelAnimation'
{
	0%{
        brightness: 0.4;
    }
    50%{
        brightness: 3;
    }
    100%{
        brightness: 0.4;
    }
}
.reward_item_amount{
    color:white;
    text-shadow: 0px 0px 2px 3.0 black;
    font-size: 22px;
    align: right bottom;
    font-weight: bold;
    margin-right: 5px;
}
.scroll_reward_Lock{
    align: right top;
    height: 35px;
    width: 35px;
    opacity: 0.95;
    wash-color: #d81c1c;
    background-image: url("file://{images}/custom_game/bp/lock.png");
    background-size: 100%;
    margin: 5px;
}
.unavailable_reward{
    brightness: 0.2;
}
.middle_line_available{
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #2c5ba0 ), to( #2677d4 ) );
}
.middle_line_unavailable{
    background-color:gradient( linear, 0% 0%, 0% 100%, from( #0a0b0c ), to( #03090f ) );
}
.hidden{
    visibility: collapse;
}