.root{
    height: 100%;
    width: 100%;
}
#main_panel{
    height: 500px;
    width: 700px;
    background-color: black;
    background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
    background-size: cover;
    vertical-align: center;
    horizontal-align: left;
    transition-property: transform, opacity, pre-transform-scale2d;
    /* opacity: 0; */
}
#admin_panel_label{
    horizontal-align: center;
    text-transform: uppercase;
    color:white;
    font-size: 21;
    text-shadow: 2px 2px 2px 3.0 black;
    margin-top: 5px;
}
#close_button{
    color:white;
    text-shadow: 2px 2px 2px 3.0 black;
    horizontal-align: right;
    padding: 2px;
}
#close_button:hover{
    text-decoration:underline;
}
.admin_page{
    width: 100%;
    height: 450px;
    vertical-align: bottom;
    border:1px solid black;
    flow-children: down;
}
#parameter_panel{
    width: 95%;
    flow-children: down;
    margin-top: 50px;
    horizontal-align: center;
}
.parameter_lines{
    width: 100%;
    flow-children: right;
    margin-bottom: 2px;
}
.button_panel{
    height: 50px;
    width: 24.5%;
    margin-left: 0.25%;
    margin-right: 0.25%;
    border: 1px solid black;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #271f6b ), to( #244a92 ) );
    border: 1px solid #232961;
}
.button_panel:hover{
    /* background-color: gradient( linear, 0% 0%, 0% 100%, from( #312a6b )( #244a92 ) ); */
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #1f1d30 ), to( #394966 ) );
}
.font_class{
    color:white;
    text-shadow: 2px 2px 2px 3.0 black;
    font-size: 18;
}
.font_align{
    align: center center;
}