.root{

    width: 100%;
    height: 100%;
    /* background-color: red; */
}

.ShopMenuPanel{

    align: center center;
    width: 755px;
    height: 600px;
    visibility: visible;
    /* background-color: red; */
    visibility: collapse;
}

.TabContainerClass{

    width: 100%;
    height: 35px;
    align: center top;
    margin-top: 250px;
}

.TabButtonClass{

    align: left center;
    width: 150px;
    height: 100%;
    background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
    background-size: cover;
    background-color: #000000da;
    box-shadow: #000000f5 0px 0px 8px 0px;
    transition-duration: 0.2s;
    transition-property: opacity;
    opacity: 1;
}

#UpdateButtonTab{
    margin-left: 25px;
}
#UpdateButtonTab:hover{

    border: 2px solid #000000f5;
}

#GemsButtonTab{


    margin-left: 175px;
}

#GemsButtonTab:hover{

    border: 2px solid #000000f5;
}

.TabLabelClass{

    align: center center;
    color:rgba(155, 155, 155, 0.9);
    font-size:15px;
    white-space: normal;
    margin-left: 10px;
    margin-right: 10px;
}


#UpgradePanel{

    align: center center;
    margin-top: 35px;
    width: 100%;
    height: 600px;
    background-image: url("s2r://panorama/images/hud/reborn/bg_scoreboard_psd.vtex");
    background-size: cover;
    background-color: #000000da;
    box-shadow: #000000f5 0px 0px 8px 0px;
    transition-duration: 0.2s;
    transition-property: opacity;
    opacity: 1;
    visibility: visible;
}

#StatusPanel{

    align: center center;
    background-color: rgba(0, 0, 0, 0.527);
    visibility: visible;
    border-radius:  10px 10px 10px 10px;
}

#backgroundImage{

    width: 100%;
    height: 100%;
}

#StatusPanel #Status{

    color:rgba(155, 155, 155, 0.9);
    font-size:35px;
    align: center center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#UpgradeItemPanel{

    align: left top;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width:  fit-children;
    height: fit-children;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius:  5px;
    flow-children: down;
}

.itemListPanel{
    margin-top: 2px;
    margin-bottom: 2px;
    width: 360px;
}

#UpgradeInfoPanel{

    align: right bottom;
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width: 350px;
    height: 560px;
    background-color: rgba(0, 0, 0, 0.363);
    border-radius:  5px;
    visibility: visible;
}

#UpgradeInfoPanel #ItemIconNew{

    align: center top;
    margin-top: 100px;
}


#UpgradeInfoPanel #ItemIconBorderNew{

    align: center top;
    margin-top: 78px;
    height: 110px;
    width: 146px;
    opacity: 0.2;
}

#UpgradeInfoPanel #ItemUpgradeChance{

    color:rgba(155, 155, 155, 0.9);
    align: center top;
    margin-top: 25px;
    margin-left: 10px;
    font-size:18px;
}

#UpgradeInfoPanel #OldLevelItem{

    color:rgba(155, 155, 155, 0.9);
    align: center top;
    margin-top: 24px;
    margin-right: 78px;
    font-size:22px;
}

#UpgradeInfoPanel #NewLevelItem{

    color:rgba(155, 155, 155, 0.9);
    align: center top;
    margin-top: 25px;
    margin-left: 80px;
    font-size:22px;
}

#UpgradeInfoPanel #chanceArrow{

    align: center top;
    margin-top: 30px;
    opacity: 0.3;
}

#ExtensionsPanel{

    align: center bottom;
    margin-bottom: 95px;
    width: 100%;
    height: 130px;
    border-top: 2px solid rgba(70, 69, 69, 0.705);
    border-bottom: 2px solid rgba(70, 69, 69, 0.705);
    padding-top: 4px;
}

#ExtensionsPanel #LifeCrystal{

    align: left top;
    width: 100%;
    height: 50%;
    margin-top: 0%;
    border-bottom: 2px solid rgba(70, 69, 69, 0.705);
}

#ExtensionsPanel #LifeCrystal #CrystalIcon{

    align: left bottom;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

#ExtensionsPanel #DeathCrystal{

    align: left top;
    width: 100%;
    height: 50%;
    margin-top: 50%;
}

#ExtensionsPanel #DeathCrystal #CrystalIcon{

    align: left bottom;
    margin-bottom: 10px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
}

#CrystalCounter{

    align: left bottom;
    height: 30px;
    width: 110px;
    margin-bottom: 10px;
    margin-left: 70px;
    border: 2px solid rgba(70, 69, 69, 0.705);
    background-color: rgba(70, 69, 69, 0.105);
}

#CrystalCounter #UsedСrystals{

    align: center bottom;
    margin-right: 50px;
    color:rgba(155, 155, 155, 0.9);
    font-size:20px;
}

#Separation{

    align: center bottom;
    margin-bottom:2px;
    color:rgba(225, 220, 164, 0.9);
    font-size:22px;
}

#CrystalCounter #CurrentCrystals{

    align: center bottom;
    margin-left: 50px;
    color:rgba(225, 220, 164, 0.9);
    font-size:20px;
}

#CrystalName{

    align: left top;
    margin-left: 70px;
    margin-top:10px;
    color:rgba(155, 155, 155, 0.9);
    font-size:15px;
}


.ZoomButtonClass{

    width: 17px;
    height: 17px;
    align: right bottom;
    background-color:gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #36393b80 ), to( #3f444670 ) );
}

#ButtonPlus{

    margin-bottom: 10px;
    margin-right: 17px;
}

#ButtonMinus{

    margin-bottom: 10px;
    margin-right: 127px;
}

#UpgradeItemCostPanel{

    align: center bottom;
    margin-bottom: 95px;
    width: 100%;
    height: 60px;
    border-top: 2px solid rgba(70, 69, 69, 0.705);
    border-bottom: 2px solid rgba(70, 69, 69, 0.705);
}

#UpgradeItemCostPanel #CostText{

    color:rgba(155, 155, 155, 0.9);
    font-size:18px;
    margin-top: 5px;
    margin-left: 5px;
    text-shadow: 1px 1px 2px 3.0 #333333b0;
}

#UpgradeItemCostPanel #GoldCostNumber{

    align: right top;
    color:rgba(155, 155, 155, 0.9);
    font-size:20px;
    margin-top: 4px;
    margin-right: 30px;
    text-shadow: 1px 1px 2px 3.0 #333333b0;
}

#UpgradeItemCostPanel #GoldIcon{

    align: right top;
    margin-top: 3px;
    margin-right: 5px;
    width: 24px;
    height: 24px;
}


#UpgradeItemCostPanel #PointBossCostNumber{

    align: right bottom;
    color:rgba(155, 155, 155, 0.9);
    font-size:20px;
    margin-right: 30px;
    margin-bottom: 2px;
    text-shadow: 1px 1px 2px 3.0 #333333b0;
}

#UpgradeItemCostPanel #PointBossIcon{

    align: right bottom;
    width: 25px;
    height: 20px;
    margin-right: 5px;
    margin-bottom: 5px;
}


.UpgradeButtonClass{

    align: center center;
    color:rgba(155, 155, 155, 0.9);
    font-size:20px;
}

#UpgradeButtonPanel:hover{

    border: 2px solid rgba(180, 175, 175, 0.705);
    background-color: rgba(70, 69, 69, 0.205);
}

#UpgradeButtonPanel{

    align: center bottom;
    margin-bottom: 25px;
    width:  150px;
    height: 45px;
    border: 2px solid rgba(70, 69, 69, 0.705);
    border-radius: 5px;
}
#UpgradeGemsButtonPanel{

    align: center bottom;
    width:  150px;
    height: 45px;
    border: 2px solid rgba(70, 69, 69, 0.705);
    border-radius: 5px;
    margin-bottom: 10px;
}
#UpgradeGemsButtonPanel:hover{

    border: 2px solid rgba(180, 175, 175, 0.705);
    background-color: rgba(70, 69, 69, 0.205);
}
#Item:hover{

    border: 2px solid rgba(70, 69, 69, 0.705);
}

#Item{
    width:  340px;
    height: 75px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    align: left top;
    border-radius:  5px;
    background-color: rgba(0, 0, 0, 0.527);
}

#UpgradeItemPanel #ItemIcon{

    border-radius:  2px;
    margin-left: 5px;
    align: left center;
}
#UpgradeItemPanel #ItemName{
    color:rgba(155, 155, 155, 0.9);
    font-size:18px;
    white-space: nowrap;
    text-overflow:shrink;
    text-shadow: 1px 1px 2px 3.0 #333333b0;
    margin-right: 10px;
    margin-left: 105px;
    align: left center;
}
#SliderContainer_Panel{
    width: 100%;
    margin-top: 70px;
    /* overflow:noclip; */
}
#InsertingStonesSlider{
    horizontal-align: left;
    width: 200px;
    height: 70px;
    position: 15px 15px 0px;
}
#InsertingStonesSlider #SliderTrack{
    width: 200px;
    height: 16px;
}
#InsertingStonesSlider #SliderThumb{
    width: 16px;
    height: 30px;
}
#InsertingStonesSlider #SliderTrackProgress{
    width: 200px;
    height: 10px;
}

#GemsMainContainer_Panel{
    flow-children: right;
    horizontal-align: center;
}
.GemContainer_Panel{
    height: 65px;
    width: 65px;
    border: 2px solid rgba(70, 69, 69, 0.705);
    border-radius: 5px;
    margin: 2.5px;
}
.GemContainer_Panel.Active{
    background-color: orange;
}
.GemLock_Panel{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.815);
}
.GemLock_Image{
    vertical-align: top;
    horizontal-align: center;
    height: 30px;
    width: 30px;
    wash-color: white;
    margin-top: 8px;
}
.GemAmount_Label{
    color:rgba(155, 155, 155, 0.9);
    vertical-align: bottom;
    horizontal-align: center;
    text-shadow: 1px 1px 2px 3.0 #333333b0;
}
.GemImage_Image{
    horizontal-align: center;
    height: 45px;
    width: 45px;
}
#GemUpdateAmount{
    text-shadow: 1px 1px 2px 3.0 #333333b0;
    color:rgba(155, 155, 155, 0.9);
    width: 120px;
    horizontal-align: right;
    margin-top: 17px;
    margin-right: 20px;
    text-align: center;
    font-size: 21px;
}
#ForgeButton_Panel{
    width: 160px;
    height: 50px;
    background-color:gradient( radial, 50% 50%, -5% -5%, 60% 60%, from( #a17118e1 ), to( #c44c27f8 ) );
    align: right bottom;
    margin: 5px;
}
#ForgeButton_Label{
    text-shadow: 1px 1px 2px 3.0 #333333b0;
    color:rgba(155, 155, 155, 0.9);
    font-size: 21;
    text-align: center;
}
.ItemIconGem_Image{
    height: 26px;
    width: 26px;
    background-color: black;
    border-radius: 20px;
    border:1px solid white;
    align: right top;
    margin: 2px;
    padding: 1px;
}
#GemBuffDescription{
    text-shadow: 1px 1px 2px 3.0 #333333b0;
    color:rgba(155, 155, 155, 0.9);
    font-size: 21px;
    align: center top;
    margin-top: 200px;
}
#GemBuff{
    text-shadow: 1px 1px 2px 3.0 #333333b0;
    color:rgba(155, 155, 155, 0.9);
    align: left bottom;
    margin-left: 105px;
}
#info_Image{
    height: 20px;
    width: 20px;
    align: right center;
    margin-top: 5px;
    margin-right: 10px;
}