.root,.donateShop{
	height:100%;
	z-index: 1;
	width:100%;
}
.openShopPanelLabel{
	height:700px;
	width:1166px;
	vertical-align:center;
	horizontal-align:center;
	margin-bottom:10%;
}
.DonateShopPanel{
	height:650px;
	width:1200px;
	background-image:url('file://{resources}/images/custom_game/DonateShop/osnovnoi_logo.png');
	vertical-align:center;
	horizontal-align:center;
	margin-bottom:10%;
}
#DonateShopPanel{
	transition-property: transform, opacity, pre-transform-scale2d;
	transition-duration: 0.2s;
	opacity: 0;
	pre-transform-scale2d:0.8;
	transform: translate3d(0px, 300px, 0px);
}
.DonateShopTabsPanel{
	margin-top:90px;
	width:176px;
	flow-children:down;
}
.TabPanel{
	width:160px;
	height:40px;
	border-top-left-radius:6px;
	border-bottom-left-radius:6px;
	margin-top: 10px;
	horizontal-align:center;
}
.TabPanelOnServ:hover{
	brightness:1.5;
}

.TabPanelOnServ:hover .TabLabelOnServ{
	color:#d7bb00;
	text-shadow: 2px 2px 8px 3.0 #222222;
}
.TabLabel{
	letter-spacing: 1px;
	font-size:18px;
	text-align: center;
	color:white;
    /* font-family: "Courier"; */
	width:100%;
	vertical-align:center;
	font-weight: bold;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
}
.TabContent{
	width:100%;
	flow-children:down;
	padding-bottom: 10px;
}
.horizontal_panel{
	width:100%;
	flow-children:right;
	min-height:100px;
}
.DonateShopContentPanel_bg{
	margin-top:10px;
	margin-left:180px;
	height:470px;
	width:957px;
	background-size: 100% 100%;
	background-image:url('file://{resources}/images/custom_game/DonateShop/shop(1).png');
}
.DonateShopContentPanel{
	margin-top:11px;
	margin-left:180px;
	height:468px;
	width:955px;
	border-top-right-radius:6px;
	overflow: clip scroll;
}
.RatingCloseButton1{
	flow-children: right;
	horizontal-align:right;
	margin-top:3px;
	margin-right:5px;
	z-index: 2;
}
.shop_modul_bg{
	height: 100%;
	width: 100%;
}
.DonateShopItemPanel, .DonateShopItem1{
	width:180px;
	height:220px;
	margin-left:10px;
	margin-top:10px;
}

.DonateShopItem{
	margin-left:11px;
	margin-top:10px;
	width:159px;
	height:118px;
	border:3px solid;
	border-radius:5px;
	background-size:100%;
	z-index: 1;
	border-radius: 24px;
}
#DonateShopItemLabel_c{
	width: 100%;
	height: 80px;
	margin-top: 110px;
}
.DonateShopItemLabel{
	font-weight: bold;
	width:100%;
	text-align:center;
	color:purple;
    /* font-family: "Courier"; */
	font-size:22px;
	vertical-align: center;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
}
.DonateShopItemButtonBuy{
	width:160px;
	height:35px;
	margin-left:10px;
	vertical-align:bottom;
	margin-bottom:10px;
	border-radius:10px;
}
#buy_line_pn{
	height:100%;
	width:100%;
	flow-children:right;
	z-index: 100;
}
.DonateMoneyLogoButton{
	width:35px;
	height:70%;
	margin-left:20px;
	margin-top: 3px;
}
.DonateShopItemButtonHas{
	width:160px;
	height:35px;
	margin-left:10px;
	vertical-align:bottom;
	margin-bottom:10px;
	border-radius:10px;
}
.DonateShopItemButtonLabel{
    /* font-family: "Courier"; */
	color:gold;
	font-size:22px;
	width:100%;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	vertical-align:center;
	text-align:center;
	font-weight: bold;
}
.DonateMoneyPanel{
	margin-top: 4px;
	margin-left: 7px;
}
.money_panel{
	height:82px;
	width:162px;
	margin-top:10px;
	flow-children:down;
	background-image:url('file://{resources}/images/custom_game/DonateShop/shop2.png');
	background-size: 100% 100%;
	border-radius:10px;
	padding-left: 5px;
	margin-left: 10px;

}
.MMMRPointsPanel{
	border-radius:10px;
	margin-top: 4px;
	margin-left: 6px;
}

.lowPanel{
	width:1146px;
	height:493px;
	vertical-align:bottom;
	horizontal-align:center;
	margin-bottom:10px;
	background-image:url('file://{resources}/imagses/custom_game/DonateShop/fon_sdelai_teni.png');
	box-shadow: #00000080 4px 4px 8px 0px;
}
.RatingPlayerLineLogo:hover{
	brightness:2.0;
}
.RatingPlayerLineLogo{
	z-index: 100;
}
#test_panel{
	height: 100px;
	width: 100px;
	vertical-align: center;
	background-color: blue;
}
#RatingPlayerStatTop{
	border:1px solid black;
}
.DonateMoneyLogo3{
	vertical-align:center;
	height:30px;
	width:30px;
	margin-left:10px;
	margin-top: 5px;
}
.MMMRPointsLogo{
	vertical-align:center;
	height:25px;
	width:25px;
	margin-left:13px;
	margin-top: 3px;
}
.DonateMoneyLabel{
	color:gold;
	font-size:21px;
	margin-left:45px;
	vertical-align:center;
    /* font-family: "Courier"; */
	text-shadow: 1px 1px 8px 0.5 #666066;
	font-weight: bold;
	
}
#DonateMoneyLabel{
	margin-top: 3px;
}
#MMMRPointsLabel{
	margin-top: 2px;
}
.openShop{
	width:59px;
	height:61px;
	margin: 5px;
	brightness: 0.6;
	tooltip-position: bottom;
}
.closeShop{
	width:50px;
	height:50px;
	border:1px solid black;
	horizontal-align:right;
}
.selected_bd{
	brightness:0.5;
}
.selected_text{
	color:#d76a00;
}
.DonateShopItem2{
	width:180px;
	height:280px;
	margin-left:10px;
	margin-top:10px;
}
.consumablesCoutPanel{
	width:160px;
	height:30px;
	margin-left:10px;
	margin-top:170px;
	border-radius:10px;
}
.DonateShopItemButtonBuyCon{
	width:160px;
	height:30px;
	margin-left:10px;
	margin-top:205px;
	border-radius:10px;
}
.DonateShopItemButtonHasCon{
	width:160px;
	height:30px;
	margin-left:10px;
	margin-top:240px;
	border-radius:10px;
}
.shopButtonImg{
	width:31px;
	height:80%;
	margin-top:10%;
}
.shopButtonImgAndText{
	horizontal-align:center;
	flow-children:right;
	height:100%;
}
#shopButtonImg2{
	width: 25px;
}
.shop_button_1_params{
	width: 160px;
	height: 100%;
}
.shop_button_2_params{
	width: 80px;
	height: 100%;
}
.DonateShopItemButtonLabelNotAlign{
	color:gold;
	font-size:21px;
	text-shadow: 1px 1px 8px 3.0 #000000;
    /* font-family: "Courier"; */
	vertical-align:center;
	margin-right:5px;
	font-weight: bold;
}
.DonateShopItemButtonLabelStock{
	color:white;
	font-size:19px;
	width:100%;
    /* font-family: "Courier"; */
	margin-top:1px;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	vertical-align:center;
	text-align:center;
}
.BuyControl{
	vertical-align:center;
	horizontal-align:center;
	width:686px;
	height:481px;
	margin-bottom:250px;
}
.acceptButton{
	height:50px;
	width:180px;
	margin-top:400px;
	margin-left:80px;
}
.cancelButton{
	height:50px;
	width:180px;
	margin-top:400px;
	horizontal-align:right;
	margin-right:80px;
}
#BuyControlCurRp{
	vertical-align: center;
	horizontal-align:center;
	height: 50px;
	width: 50px;
	margin-top: 40px;
}
.BuyControlCurDon{
	height: 100%;
	width: 100%;
}
#BuyControlCurGem{
	vertical-align: center;
	horizontal-align:center;
	height: 50px;
	width: 60px;
	margin-top: 50px;
}
.BuyControlButtonText{
	text-align:center;
	width:100%;
	vertical-align:center;
	padding: 5px;
	color:white;
	font-size:28px;
    /* font-family: "Courier"; */
	margin-bottom: 13px;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	font-weight: bold;
	margin-top: 5px;
}
.BuyControlTextLine3_combinable{
	margin-bottom: 20px;
}
.BuyControlTextPanel{
	width:100%;
	margin-top:20px;
	flow-children:down;
}
#BuyControlTextLine1{
	color: white;
	width:100%;
    /* font-family: "Courier"; */
	text-align:center;
	font-size:35px;
	font-weight: bold;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
}
#accept_shadow{
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 2;
}
#BuyControlTextLine2{
	color: white;
	width:100%;
	text-align:center;
    /* font-family: "Courier"; */
	font-size:35px;
	margin-top: 130px;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
}
#BuyControlTextLine3{
	color: white;
    /* font-family: "Courier"; */
	text-align:center;
	font-size:35px;
	width:100%;
	text-align:center;
	margin-top: 180px;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
}
#BuyControlTextLine3_pan{
	horizontal-align:center;
	flow-children:right;
	margin-top: 20px;
}
#BuyControlDropPanel{ 
	margin-bottom: 120px;
	vertical-align: bottom;
}
#BuyControlDrop,#BuyControlDropPanel{
	width: 100px;
	horizontal-align:center;
}
.BuyControlTextLine2{
	font-size:21px;
	margin-top:150px;
    /* font-family: "Courier"; */
	width:100%;
	text-align:center;
	color:#ca2f2f;
}
.DonateShopItemButtonGived{
	width:160px;
	height:35px;
	margin-left:10px;
	vertical-align:bottom;
	margin-bottom:10px;
	border-radius:10px;
	/* background-image: url("file://{resources}/images/custom_game/DonateShop/4.png");
	background-size: 100% 100%; */
}
.buy_btn_bg{
	height: 100%;
	width: 100%;
	z-index: -1;
}
.DonateShopItemButtonActive{
	width:160px;
	height:35px;
	margin-left:10px;
	vertical-align:bottom;
	margin-bottom:10px;
	border-radius:10px;
	
}
.DonateShopItemButtonActive:hover .DonateShopItemButtonLabelActive{
	font-size: 23px;
    /* font-family: "Courier"; */
	color: black;
}
.DonateShopItemButtonLabelActive{
	color:#1f1d1f;
	font-size:22px;
	width:100%;
	margin-top:1px;
	text-shadow: 2px 2px 8px 2.0 #333333b0;
	vertical-align:center;
	text-align:center;
	/* font-family: "Courier"; */
	font-weight: bold;
}
.DonateShopItemButtonLabelGived{
	color:#d5bdd5;
    /* font-family: "Courier"; */
	font-size:22px;
	width:100%;
	margin-top:1px;
	text-shadow: 2px 2px 8px 3.0 #333333b0;
	vertical-align:center;
	text-align:center;
	font-weight: bold;
}
.RatingCloseButtonIcon{
	vertical-align:center;
	height: 30px;
	width: 30px;
}
.RatingCloseButtonIcon:hover{
	brightness:0.5;
}
.RatingCloseButtonText:hover{
	color:#c2c2c2;
}
.RatingCloseButtonText{
	color:white;
	font-size:18px;
    /* font-family: "Courier"; */
	vertical-align:center;
	z-index: 0;
}
.openShopLabel{
	color:white;
	font-size:18px;
    /* font-family: "Courier"; */
	vertical-align:center;
	opacity: 0.5;
	
	border: 1px solid black;
}
.DonateShopImg{
	height: 100%;
	width: 100%;
	tooltip-arrow-position: 50% 50%;
    tooltip-body-position: 50% 50%;
}
.openShopLabel:hover{
	color:#c2c2c2;
}
#RatingCloseButton:active
{
	sound: "ui_custom_lobby_dialog_slide";
}
#openShop:active{
	sound: "ui_chat_slide_in";
}
.openShop:hover{
	brightness: 1.0;
}
#acceptButton:active, #cancelButton:active{
	sound: "ui_learn_mode_popup";
}
.DonateShopItemButtonGived:hover .DonateShopItemButtonLabelGived{
	color:red;
    /* font-family: "Courier"; */
	font-size:23px;
}
.DonateShopItemButtonHas:hover .DonateShopItemButtonLabel, .DonateShopItemButtonBuyCon:hover .DonateShopItemButtonLabel{
	color:#ff8a00;
    /* font-family: "Courier"; */
	font-size:23px;
}
#shopButtonImgAndText1:hover #DonateShopItemButtonLabelNotAlign1, #shopButtonImgAndText2:hover #DonateShopItemButtonLabelNotAlign2, #DonateShopItemButtonHasCon:hover #DonateShopItemButtonLabelNotAlign{
	color:#f5a23f;
    /* font-family: "Courier"; */
	font-size:23px;
}
.acceptButton:hover .controllButtonImg, .cancelButton:hover .controllButtonImg{
	brightness: 1.5;
}
.controllButtonImg{
	height: 100%;
	width: 100%;
}
.open_shop{
	animation-name: open_shop;
	animation-duration: .2s;
	animation-timing-function: linear;
}
@keyframes 'open_shop'
{
	from{
		opacity:0;
		transform: translate3d(0px, 700px, 0px);
		pre-transform-scale2d: 0.1;
	}
	
	to{
		opacity: 1;
		transform: translate3d(0px, 0px, 0px);
		pre-transform-scale2d: 1;
	}
}
.close_shop{
	animation-name: close_shop;
	animation-duration: .2s;
	animation-timing-function: linear;
}
@keyframes 'close_shop'
{
	from{
		opacity:1;
		transform: translate3d(0px, 0px, 0px);
		pre-transform-scale2d: 1;
	}
	
	to{
		opacity: 0;
		transform: translate3d(0px, 700px, 0px);
		pre-transform-scale2d: 0.1;
	}
}

.shop_selection_panel{
	width: 100%;
	height: 100px;
	margin-top: 100px;
	z-index: 1;
}
.openShopLabel{
	margin-left: 1000px;
}
#profavatarShop{
	height: 70px;
	width: 70px;
	margin-left: 7px;
	margin-top: 10px;
}
#RatingProfilRankShop{
	height:100px;
	width:100px;
	margin-top: 50px;
	margin-left: 360px;
}
#RatingProfilInfoDescPanelShop{
	height: 100px;
	width: 300px;
	margin-top: 38px;
	margin-left: 10px;
}
#RatingProfilNameShop{
	margin-top: 60px;
	margin-left: 135px;
}
.statisticbox12{
	flow-children:right;
	margin-right: 10px;
	tooltip-position:bottom;
}
#RatingProfilInfoPanelShop{
	flow-children:right;
	height: 250px;
	width: 500px;
	margin-top: 45px;
}
#discord{
	height: 70px;
	width: 70px;
	horizontal-align:left;
	margin-bottom: 10px;
	margin-left: 18px;
	border:1px solid black;
	vertical-align: bottom;
	border-radius:10px;
}
#discord:hover{
	brightness: 2.0;
}
#patreon{
	height: 70px;
	width: 70px;
	horizontal-align:left;
	margin-bottom: 10px;
	border:1px solid black;
	margin-left: 92px;
	vertical-align: bottom;
	border-radius:10px;
	
}
#patreon:hover{
	brightness: 2.0;
}
#shop_gems_panel{
	height: 150px;
	width: 450px;
	horizontal-align: right;
	margin-top: 50px;
	flow-children:right;
	margin-right: 50px;
}
.smithy_gem_image{
	height: 60px;
	width: 60px;
	tooltip-position: top;
}
.smithy_gem_base_class{
	flow-children:down;
	margin-left: 5px;
	margin-right: 5px;
	tooltip-position:bottom;
}
.smithy_gem_lable{
	margin-top: 10px;
    width: 100%;
	font-size: 17px;
    text-align: center;
    /* font-family: "Courier"; */
    
    color:white;
    font-weight: bold;
}